body {
    background-color: aqua;
    margin: 0px;
}
.container {
    max-width: 1000px;
    margin: auto;
}
header {
    background-color: orange;
    height: 200px;
}
nav {
    background-color: azure;
    height: 50px;
}
.col {
    width: 20%;
    background-color: darkviolet;
    margin-left: 3.5%;
    min-height: 200px;
    float: left;
}
footer {
    background-color: palevioletred;
    height: 250px;
    clear: left;
}